/* hfhdhsfjkasdhfjsadb have to do it like Angular or React native hsjdafbdshbfdsjb */

.test_button {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    background: red;
    color: white;
}